.text-box h3:first-of-type {
  color: pink;
}

#greycol {
  color: grey;
}

.text-box div p {
  color: red;
}

.text-box > p:nth-of-type(3) {
  color: green;
}

.yellow {
  color: yellow;
}
.monday li:nth-child(odd) {
  background-color: #ff6f61;
}
.monday li:nth-child(even) {
  background-color: #ff9f61;
}

.tuesday li:nth-child(3n) {
  background-color: #61baff;
}
.tuesday li:not(:nth-child(3n)) {
  background-color: #61dfff;
}

.wednesday li:first-child {
  background-color: #ff61f9;
}
.wednesday li:last-child {
  background-color: #ff61a6;
}

.thursday li:nth-child(-n + 2) {
  background-color: #61ff91;
}
.thursday li:nth-child(n + 3) {
  background-color: #91ff61;
}

.friday li:only-child {
  background-color: #ff6161;
}
.friday li:nth-child(n + 2) {
  background-color: #ff9f91;
}